@import 'variables';
@import 'mixin';

.button__url  {
    background-color: black;
    border-radius: 20px;
    width: 120px;
    height: 90px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    @include mobile {
        width: 100px;
        height: 75px;
    }
}

.button__url:hover {
    background-color: rgb(61, 54, 54); 
  }

.button__url img {
    max-height: 50px;
}