@import 'variables';
@import 'mixin';


.form__container h2 {
    margin-bottom: 20px;
    font-family: $font-family;
  }
  
  .form__container label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #666; 
    font-family: $font-family;
    
  }
  
  .form__container input,
  .form__container textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    font-family: $font-family;
    transition: border-color 0.3s;
    @include tablet {
      width: 100%;
    }
    @include mobile {
      width: 80%;
    }
   
  }

  
  
  .form__container input:focus,
  .form__container textarea:focus {
    border-color: black;
    outline: none;
    font-family: $font-family;
  }
  
  .form__container button {
    width: 200px;
    padding: 10px 15px;
    background-color: #0071EB;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: $font-family;
  }
  
  .form__container button:hover {
    background-color: #0056b3; 
  }
  
  .info__input {
    width: 200px;
    @include mobile {
      width: 100%;
      gap: 30px;
    }
  }

  .info__message {
    width: 500px;
    height: 200px;
    resize: none;
    @include mobile {
      width: 100%;
      gap: 30px;
    }
  }

  .form__text__description {
    font-family: $font-family;
    width: 520px;
    text-align: justify;
    @include tablet {
      width: 100%;
    }
    @include mobile {
      width: 90%;
      gap: 30px;
    }
  }