@import 'variables';
@import 'mixin';

.project {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    @include tablet {
        flex-direction: column;
        width: 90%; 
        margin: 100px auto;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }
    
    

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: $font-family;
        font-size: 18px;
        text-align: justify;
    }
        @include mobile {
        margin-top: 0;  // Remise à zéro de la marge en mode mobile
        }
}

.project h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    @include mobile {
        font-size: 24px;
    }
}

.project__competence {
    display: flex;
    justify-content:center;
    gap: 50px;
}

.project__competence img{
    max-width: 100px;
    max-height: 100px;
    @include tablet {
       height: 80px;
        }
        @include mobile {
            height: 60px;
             }
}

.button__site {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    margin-bottom: 100px;
    @include tablet {
        gap: 100px;
        margin-top: 100px;
      }
}